{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "requirePragma": false,
  "trailingComma": "none"
}
